:root {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    margin: 1em;
}

.flex-layout {
    color: yellow;
    display: flex;
    flex-direction: row;
    background-color: rgb(112, 187, 231);
    border-radius: 2em;
}

.section1 {
    background-color: rgb(215,215,215);
    color: black;
    border-radius: 2em;
    width: 20vw;
    height: 70vh;
    margin: 2em;
}

.section1 > p {
    margin: 1em;
    padding: 2em;
    font-size: 1.5em;
    font-weight: bold;
}

.section2 {
    width: 30vw;
    height: 70vh;
    margin: 2em;
}

.section2 > p {
    width: auto;
    height: auto;
    padding: 1em;
    margin: 1em;
    border: 1px solid rgb(28, 0, 128);
    border-radius: 2em;
    font-size: 1rem;
}

.section2 > a {
    color: whitesmoke;
}
