<!DOCTYPE html>
<html lang="en"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<title>Main page</title>
	
	<link rel="stylesheet" href="../static/css/blog.css" th:href="@{/blog.css}"/>
	<link rel="stylesheet" href="../static/css/books.css" th:href="@{/books.css}"/>
<!--	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />-->
		
	<link href='https://fonts.googleapis.com/css?family=Roboto' rel='stylesheet' type='text/css' />	
	<link href='https://fonts.googleapis.com/css?family=Exo' rel='stylesheet' type='text/css' />

</head>
<body>

	<div class="container">
  		 
		<nav class="navbar navbar-default">
		    <div class="container-fluid">
		       <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				    <ul class="nav navbar-nav">
				        <li class="active"><a href="/">Index page</a></li>
				        <li class=""><a href="/registration">Registration</a></li>
				        <li class=""><a href="/login">Login</a></li>
				    </ul>
				    <div class="navbar-text navbar-right">
				    	Welcome <span sec:authentication="name" th:text="${username}" style="color:red; font-weight:bold;"> Anonymous </span>
			           <form sec:authorize="isAuthenticated()" id="frmlogout" th:action="@{/logout}" method="post" class="form-inline">
				    		>> <a href="javascript:{}" onclick="document.getElementById('frmlogout').submit(); return false;">Logout</a>
				      </form>
				    </div>
				</div>
		    </div>
		</nav>
		
		<div layout:fragment="specContent" class="grid">
		</div>


		<br/><br/>
	
	</div>

</body>
</html>